InvoiceGithub/pkgs/Wadl/PowerApp-%3eExtractinformationfrominvoices%2cAddanewrow%2cRespond....xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerApp-&gt;Extractinformationfrominvoices,Addanewrow,Respond..." xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PowerApp -&gt; Extract information from invoices,Add a new row,Respond..." />
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <base64Binary name="ManualTriggerInput_Extractinformationfrominvoices_Invoicefile_def" />
      <object name="ManualTriggerInput">
        <property name="Extractinformationfrominvoices_Invoicefile" typeRef="ManualTriggerInput_Extractinformationfrominvoices_Invoicefile_def" />
      </object>
      <string name="ResponseActionOutput_invoice_id_def" />
      <string name="ResponseActionOutput_invoice_sub_def" />
      <string name="ResponseActionOutput_invoice_name_def" />
      <string name="ResponseActionOutput_invoice_totals_def" />
      <object name="ResponseActionOutput">
        <property name="invoice_id" type="string" />
        <property name="invoice_sub" type="string" />
        <property name="invoice_name" type="string" />
        <property name="invoice_totals" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Extractinformationfrominvoices_Invoicefile" path="/Extractinformationfrominvoices_Invoicefile" type="service:ManualTriggerInput_Extractinformationfrominvoices_Invoicefile_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>